@import "source/styles/variables";

.wrapper-home {
  height: 100vh;
  position: relative;
}

.Home {
	margin-left: auto;
	margin-right: auto;
	width: 100vh;
	//padding-top: 105px;
 	//padding-bottom: 180px;
}
#Analyze-container{
    height: 100vh;
    background: #ffffff !important;

}
#theme-blue{
	background-color: #30BDDB;
	color: white;
}

#title{
	font-size: 60px;
	color: $dark-gray;
}
#logo{
	font: bold 60px 'Open Sans', sans-serif;
	color:white !important;
	font-size: 30px;
	font-weight: bold;
}
.landing-image{
    background-image: url($home-image) !important;
    background-size: cover !important;
    min-height: 100vh;
}

.fileInput {
	width: 75%;
}